   <!-- page content -->
   <div class="right_col" role="main">
    <div class="page-title">
      <div class="title_left">
        <h3>{{pageTitle}} Sponsor</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div ncy-breadcrumb></div>

    <!-- row -->
    <div class="row">

      <!-- col-md-12 col-sm-12 col-xs-12 -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- Basic Information -->
        <div class="x_panel">
          <div class="x_content">
            <br />
            <form class="manageSponsorForm form-horizontal form-label-left" name="addSponsorForm">

              <div class="form-group">
                <div>

                  <img ngf-thumbnail="picFile" ngf-resize-if="$width > 1000 || $height > 1000" ngf-resize="{width: 100, height: 100, centerCrop: true" src="dist/img/user-icon.png" alt="..." ng-show="picFile" class="sponsorImage img-circle profile_img spacing" style=" width: 15%; margin: auto !important; display: block;">

                  <img src="dist/img/user-icon.png" ng-hide="picFile" alt="..." id="addSponsorImg" class="img-circle profile_img spacing" style=" width: 15%; margin: auto !important; display: block;">

                </div>
                <div style="display: flex;
                justify-content: center;
                margin: 10px;">
                <input type="file" ngf-select name="image" id="image" ng-model="picFile" accept="image/*" />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="uname"> Organisation Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-model="payload.txtuname" type="text" id="uname" required class="form-control col-md-7 col-xs-12">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtemail">Email<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-model="payload.txtemail" type="email" id="txtemail" required class="form-control col-md-7 col-xs-12">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pwd">Password<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-model="payload.txtpass" type="password" id="pwd" required class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            
            <hr/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pwd"></label>
              <div class="col-md-6 col-sm-6 col-xs-12 spacing">
                <button data-loading-text="<i class='fa fa-btn fa-spinner fa-spin'></i> Please wait ..."  ng-click="manage($event, picFile)" class="btn btn-success">{{pageTitle}}</button>
                <cancel-button></cancel-button>
              </div>
            </div>
          </form>

        </div>
      </div>
      <!-- Ends Basic Information -->

    </div>
    <!-- Ends col-md-12 col-sm-12 col-xs-12 -->

  </div>
  <!-- Ends row -->

</div>
<!-- Ends Page Content -->
