   <!-- page content -->
   <div class="right_col" role="main">
    <div class="page-title">
      <div class="title_left">
        <h3>{{pageTitle}} User</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div ncy-breadcrumb></div>

    <!-- row -->
    <div class="row">

      <!-- col-md-12 col-sm-12 col-xs-12 -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- Basic Information -->
        <div class="x_panel">
          <div class="x_content">
            <br />
            <form class="manageUserForm form-horizontal form-label-left" name="addUserForm">

              <div class="form-group">
                <div>

                  <img src="dist/img/user-icon.png" alt="..." id="addUserImg" class="img-circle profile_img spacing" style=" width: 15%; margin: auto !important; display: block;">

                </div>
                <div style="display: flex;
                justify-content: center;
                margin: 10px;">
                <input type="file" name="image" id="userimage" file-model="myFile" accept="image/*" />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="uname"> User Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-model="payload.txtuname" type="text" id="uname" required class="form-control col-md-7 col-xs-12">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtemail">Email<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-model="payload.txtemail" type="email" id="txtemail" required class="form-control col-md-7 col-xs-12">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usertype">User Type<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                <select ng-model="payload.usertype" id="usertype" class="form-control col-md-7 col-xs-12" required>
                  <option value="">Choose Type of User</option>
                  <option value="admin">Admin</option>
                  <option value="user">Normal User</option>
                </select>            
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pwd">Password<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input ng-model="payload.txtpass" type="password" id="pwd" required class="form-control col-md-7 col-xs-12">
              </div>
            </div>

            <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pwd"><span class="required"></span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 spacing">
                <label> <span class="spacing-sm">Disable</span>
                  <input ng-model="payload.userStatus" type="checkbox" class="js-switch" />
                </label><span class="spacing-sm">Enable</span> 
              </div>
            </div>
            
            <hr/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pwd"></label>
              <div class="col-md-6 col-sm-6 col-xs-12 spacing">
                <button data-loading-text="<i class='fa fa-btn fa-spinner fa-spin'></i> Please wait ..."  ng-click="manage($event)" class="btn btn-success">{{pageTitle}}</button>
                <cancel-button></cancel-button>
              </div>
            </div>
          </form>

        </div>
      </div>
      <!-- Ends Basic Information -->

    </div>
    <!-- Ends col-md-12 col-sm-12 col-xs-12 -->

  </div>
  <!-- Ends row -->

</div>
<!-- Ends Page Content -->
<script type="text/javascript">
  // Switchery
  $(document).ready(function() {
    if ($(".js-switch")[0]) {
      var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
      elems.forEach(function (html) {
        var switchery = new Switchery(html, {
          color: '#26B99A'
        });
      });
    }
  });
// /Switchery

</script>