   <!-- page content -->
   <div class="right_col" role="main">
    <div class="page-title">
      <div class="title_left">
        <h3>{{pageTitle}} Sponsored Post</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div ncy-breadcrumb></div>

    <!-- row -->
    <div class="row">

      <!-- col-md-12 col-sm-12 col-xs-12 -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- Basic Information -->
        <div class="x_panel">
          <div class="x_title">
            {{postOwner}}
          </div>
          <div class="x_content">
            <br />
            <form class="manageUserForm form-horizontal form-label-left" name="addUserForm">
              
              <div class="form-group">
                <div>
                  <img src="dist/img/user-icon.png" alt="..." id="addUserImg" class="profile_img spacing" style=" width: 30%; margin: auto !important; display: block;">
                </div>
                <div style="display: flex;
                justify-content: center;
                margin: 10px;">
                <input type="file" name="image" id="userimage" file-model="myFile" accept="image/*" />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtemail">
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea rows="5" ng-model="payload.content" placeholder="Whats on your mind ?" id="posttext" required class="form-control col-md-7 col-xs-12"></textarea>
              </div>
            </div>
            
            <hr/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pwd"></label>
              <div class="col-md-6 col-sm-6 col-xs-12 spacing">
                <button data-loading-text="<i class='fa fa-btn fa-spinner fa-spin'></i> Please wait ..."  ng-click="manage($event)" class="btn btn-success">{{pageTitle}}</button>
                <cancel-button></cancel-button>
              </div>
            </div>
          </form>

        </div>
      </div>
      <!-- Ends Basic Information -->

    </div>
    <!-- Ends col-md-12 col-sm-12 col-xs-12 -->

  </div>
  <!-- Ends row -->

</div>
<!-- Ends Page Content -->
<script type="text/javascript">
  // iCheck
  $(document).ready(function() {
    if ($("input.flat")[0]) {
      $(document).ready(function () {
        $('input.flat').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });
      });
    }
  });
// /iCheck
</script>