<!-- Tabs -->
<div id="wizard_verticle" class="form_wizard wizard_verticle">
  <ul class="list-unstyled wizard_steps">
    <li>
      <a href="#step-11">
        <span class="step_no">1</span>
      </a>
    </li>
    <li>
      <a href="#step-22">
        <span class="step_no">2</span>
      </a>
    </li>
    <li>
      <a href="#step-33">
        <span class="step_no">3</span>
      </a>
    </li>
    <li>
      <a href="#step-44">
        <span class="step_no">4</span>
      </a>
    </li>
  </ul>

  <div id="step-11">
    <h2 class="StepTitle spacing">Step 1 - Register Login Details.</h2>
    <form class="form-horizontal form-label-left signupForm">

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3" for="names">Names <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
          <input placeholder="What are your names ?" type="text" id="username"  ng-model="signup.name" required class="form-control col-md-7 col-xs-12">
          <p class="error"><span id="msg_username"></span>&nbsp;</p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3" for="email">Email <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
          <input placeholder="Email" type="email" id="email"  ng-model="signup.email" required class="form-control col-md-7 col-xs-12">
          <p class="error"><span id="msg_email" class="error"></span>&nbsp;</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3" for="password">Password <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
          <input type="password" placeholder="Password" id="password" ng-model="signup.password" name="password" required class="form-control col-md-7 col-xs-12">
          <p class="error"><span id="msg_password" class="error"></span>&nbsp;</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3" for="cpassword">Confirm <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
          <input type="password" id="cpassword" placeholder="Confirm Password" ng-model="signup.confirmPassword" name="confirmpassword" required class="form-control col-md-7 col-xs-12">
          <p class="error"><span id="msg_cpassword" class="error"></span>&nbsp;</p>
        </div>
      </div>

    </form>
  </div>
  <div id="step-22">
    <h2 class="StepTitle">Step 2 - Choose your Monthly Plan</h2>
    <!-- <div class="alert alert-success alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <strong>Success</strong> Please Proceed to Final Step
        </div> -->

        <div class="form-group spacing-sm" ng-hide="payments">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="radio">
              <label class="medium-font spacing">
                <input type="radio" checked="" class="package spacing-sm flat" value="Bronze FREE" id="optionsRadios1" name="optionsRadios">  <STRONG>Bronze - FREE</STRONG>
              </label>
            </div>
            <div class="radio">
              <label class="medium-font spacing">
                <input type="radio" class="package spacing-sm flat" value="Silver 24000 Shs" id="optionsRadios2" name="optionsRadios">  <strong>Silver - 24,000 Shs</strong>
              </label>
            </div>
            <div class="radio">
              <label class="medium-font spacing">
                <input type="radio" class="package spacing-sm flat" value="Gold 40000 Shs" id="optionsRadios2" name="optionsRadios">  <strong>Gold - 40,000 Shs</strong>
              </label>
            </div>

          </div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-2">
              <button class="btn btn-primary" ng-click="togglePayments($event)">Payments</button>
            </div>
          </div>
        </div>

        <form id="demo-form3" data-parsley-validate class="form-horizontal form-label-left make-payment-form" ng-show="payments" name="Jpesa" method="post" action="https://secure.jpesa.com/webpr.php">
<!-- 
                <div class="form-group">
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="radio">
          <label class="medium-font spacing-sm">
            <input type="radio" checked="" class="currency flat" value="ugx" id="currencyUGX" name="currency">  <STRONG>UGX</STRONG>
          </label>
        </div>
        <div class="radio">
          <label class="medium-font spacing-sm">
            <input type="radio" class="currency flat" value="ksh" id="currencyKSH" name="currency">  <strong>KSH</strong>
          </label>
        </div>
        <div class="radio">
          <label class="medium-font spacing-sm">
            <input type="radio" class="currency flat" value="usd" id="currencyUSD" name="currency">  <strong>USD</strong>
          </label>
        </div>

      </div>
      
    </div> -->
    <input type="hidden" name="agent_id" value="kachloans">
    <input type="hidden" name="item_name" value="MontlyPlan">
    <input type="hidden" name="currency_code" value="UGX">
    <input type="hidden" class="amountToPay" name="amount" value="">
    <input type="hidden" name="return" value="http://127.0.0.1:8000/signup">
    <input type="hidden" name="cancel" value="http://127.0.0.1:8000/signup">

    <div class="form-group">
      <label class="big-font control-label col-md-3 col-sm-3 col-xs-12" for="amountPay"> Amount
      </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <p class="amountPay spacing-xs big-font">20000</p>

      </div>
    </div>

    <div class="form-group">
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-1">
        <p class="make-payment-text">Go to Step 3 or use the back button to choose a different package.</p>
        <button type="submit" class="btn btn-success make-payment-btns"><i class="fa fa-money"></i> Make Payment</button>
        <button ng-click="togglePayments($event)" class="btn btn-default">Back</button>
      </div>
    </div>

  </form>

</div>
<div id="step-33">
  <h2 class="StepTitle">Step 3 - Register Organisation Details</h2>

  <div class="x_panel">
    <div class="x_content">
      <form id="demo-form3" data-parsley-validate class="form-horizontal form-label-left">
       <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input id="organisationname" ng-model="signup.organisation" class="form-control col-md-7 col-xs-12" required="required" type="text" placeholder="What is your organisation name ?">
          <p class="error"><span id="msg_organisationname" class="error"></span>&nbsp;</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input id="mainbranchname" ng-model="signup.branch" class="form-control col-md-7 col-xs-12" placeholder="What is the name of your main branch ?" required="required" type="text">
          <p class="error"><span id="msg_mainbranchname" class="error"></span>&nbsp;</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-1">
          <button class="btn btn-success make-payment-btns"><i class="fa fa-search"></i> Check Availability </button>
          
        </div>
      </div>

    </form>
  </div>
</div>
</div>
<div id="step-44">
  <h2 class="StepTitle">Step 4 - Confirm Your Account Details</h2>

  <div class="x_panel">
    <div class="x_content">
      <br />

      <form id="demo-form3" data-parsley-validate class="form-horizontal form-label-left">

        <div class="form-group">            
          <p class="medium-font">Thank you for your patience, if the information below is accurate, click finish to create your Kachloan Account. Otherwise, use Previous to go back and make edits.</p>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3" for="orgDisplay">Organisation <span class="required">:</span>
          </label>
          <div class="col-md-6 col-sm-6 confirm-signup">
            <span id="orgDisplay"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3" for="branchDisplay">Main Branch <span class="required">:</span>
          </label>
          <div class="col-md-6 col-sm-6 confirm-signup">
            <span id="branchDisplay"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3" for="nameDisplay">Your Names <span class="required">:</span>
          </label>
          <div class="col-md-6 col-sm-6 confirm-signup">
            <span id="nameDisplay"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3" for="emailDisplay">Email <span class="required">:</span>
          </label>
          <div class="col-md-6 col-sm-6 confirm-signup">
            <span id="emailDisplay"> </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3" for="passwordDisplay">Password <span class="required">:</span>
          </label>
          <div class="col-md-6 col-sm-6 confirm-signup">
            <input type="text" placeholder="Password" ng-hide="showPassword" name="password" required class="password form-control col-md-7 col-xs-12" disabled>
            <input type="password" placeholder="Password" ng-show="showPassword" name="password" required class="password form-control col-md-7 col-xs-12" disabled>
            <a href=""><span class="label-primary label pull-right" ng-click="togglePassword()">Hide/Show</span></a>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3" for="packageDisplay">Package <span class="required">:</span>
          </label>
          <div class="col-md-6 col-sm-6 confirm-signup">
            <span id="packageDisplay"></span>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- Ends required fields -->  

</div>
</div>
<!-- End SmartWizard Content -->
